<div class="h-100">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="clickable" [routerLink]="['/home']">Just Your Bayesic Dropouts</span>
      <i class="material-icons p-1 mt-1">compare_arrows</i>
      {{subtitles[router.url]}}
      <span class="fill-remaining-space">
      </span>

      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button mat-button [routerLink]="['/home']" >Home</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="h-100">
    <mat-sidenav #sidenav>
      <mat-nav-list class="d-grid">
        <button mat-button [routerLink]="['/home']" (click)="sidenav.toggle()">Home</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="overflow-x-hidden bg-white">

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
